.riskTableContainer {
  padding: 0;
  background-color: var(--c-bg1);

  overflow: auto;
  flex: 1;
}

table {
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: var(--c-bg1);
  z-index: 10;
  user-select: none;
}

thead::after { /* Table sticky header border-bottom */
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: .1em;
  bottom: -.1em;
  pointer-events: none;
  background-color: var(--c-accent);
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0)); */
}

thead button {
  padding: 0 .2em;
  background: none;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  outline: none;
  min-width: 4em;
  align-items: center;
}

thead button:hover,
thead button:focus-visible {
  background: rgba(0, 0, 0, 0.3);
} 

.sortIcon {
  padding: 0 0 0 .2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sortIcon svg {
  height: 1em;
  width: 1em;
}

tbody {
  height: 200px;
  overflow-y: auto;
}

tbody tr {
  user-select: none;
  cursor: pointer;
}

tbody tr.selected,
tr.selected .indexCol,
tr.selected .kommuneCol {
  background-color: var(--c-selected);
}

tbody tr.highlighted,
tr.highlighted .indexCol,
tr.highlighted .kommuneCol {
  background-color: var(--c-highlighted);
}

.indexCol {
  position: sticky;
  left: 0;
  background-color: var(--c-bg1);
  /* border-bottom: 2px solid var(--risk-color); */
  color: var(--c-norge);
  /* font-weight: bold; */
  z-index: 9;
}
.kommuneCol {
  position: sticky;
  left: 2.7em;
  background-color: var(--c-bg1);
  z-index: 9;
  padding-right: .5em;
}
.kommuneCol::after { /* Shadow of frozen columns */
  content: "";
  position: absolute;
  top: 0;
  right: -.3em;
  width: .3em;
  bottom: 0;
  pointer-events: none;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0));
}

td.indexCol {
  padding: 0 0.5em;
  box-sizing: border-box;
  min-width: 2.7em;
  text-align: right;
}
td.indexCol::before {
  content: "";
  display: block;
  position: absolute;
  top: .2em;
  bottom: .2em;
  left: 0;
  background-color: var(--risk-color);
  width: .4em;
}


.highlightedCol {
  background-color: var(--c-highlighted);
}
.selectedCol {
  background-color: var(--c-bg3);
}

tr.selected .highlightedCol,
tr.selected .selectedCol {
  background-color: var(--c-selected);
  font-weight: var(--font-weight-bold);
}