
.detailsList {
  padding: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.detailsHeader {
  display: flex;
  user-select: none;
  flex-direction: row;
  justify-content: end;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--c-bg1);
  z-index: 1;
}
.detailsHeader > div {
  width: 3.2em;
  text-align: center;
  color: var(--detailsHeaderColor);
  border-bottom: 2px solid var(--detailsHeaderColor);
}
.detailsHeader > div:last-child {
  width: 4.5em;
  margin-left: .8em;
  margin-right: -.6em;
}
.detailsRisk {
  display: flex;
  flex-direction: column;
}
.detailsRisk.selected .detailsHeader {
  background-color: var(--c-bg3);
}

.detailsHandle {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding-right: 2rem;
  line-height: 1em;
  padding-left: var(--detail-padding);
  padding-block: var(--detail-padding);
  font-weight: var(--font-weight-normal);
  transition: 0;
}

.colorBox {
  background-color: var(--risk-color);
  width: 1em;
  height: 1em;
  display: inline-block;
}

.detailsName {
  color: var(--c-text);
  flex: 1;
  padding-left: var(--detail-padding);
  display: flex;
  /* z-index: 1; */
}

.detailsRank {
  color: var(--c-norge);
  width: 3rem;
  text-align: right;

}

.detailsRankFylke {
  color: var(--c-fylke);
  width: 4.5rem;
  text-align: right;
}

.detailsList ul {
  list-style: none;
  padding-left: 2rem;
  margin: 0;
}
.detailsList li {
  display: flex;
  flex-direction: column;
}

.detailsRisk > .detailsHandle {
  font-size: 1.6rem;
  --detail-padding: .5em;
}

.detailsElement > .detailsHandle {
  font-size: 1.2rem;
  --detail-padding: .5em;
}

.detailsMetric > .detailsHandle {
  font-size: 1rem;
  --detail-padding: .4em;
}

.detailsList .highlighted,
.detailsHandle:hover {
  background-color: var(--c-highlighted);
}

.detailsList .selected {
  background-color: var(--c-bg3);
}

.detailsRisk {
  flex-grow: 1;
}


