header {
  height: var(--header-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: calc(var(--grid-gap) / 2);
  box-sizing: border-box;
  user-select: none;
}

header h1 {
  margin: 0;
  padding: 0 1rem;
  font-size: 1.5rem;
  line-height: var(--header-height);
}

header h1 a {
  color: inherit;
  text-decoration: none;
}

.headerControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 3em;
}

.layoutSelect,
.yearSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: var(--header-height);
  padding: 0;
}

.headerControls .label {
  color: var(--c-text2);
}

.headerControls button {
  box-sizing: border-box;
  height: var(--header-height);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: var(--font-weight-normal);
}
.headerControls .selected {
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--c-text);
}

.layoutSelect button {
  padding: 0 .6em;
}
.yearSelect button {
  padding: 0;
  width: 3.5em;
}



.languageSelect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: 0;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
}

.languageIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: .2em;
}

.languageIcon svg {
  height: 1.2em;
}

.languageCode {
  width: 2em;
  line-height: var(--header-height);
  text-align: left;
  font-size: 1.1em;
}






.reportButton {
  text-align: center;
  display: flex;
  justify-content: center;
}

.reportButton > a {
  display: flex;
  padding: 0 .8rem 0 .7rem;
  height: var(--header-height);
  color: var(--c-text);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-weight: var(--font-weight-medium);
}

.reportButton > a:hover {
  background: rgba(0, 0, 0, 0.3);
  color: var(--c-text);
}




.fylkeOverlay {
  position: fixed;
  inset: 0;
  z-index: 10000;
  background: rgb(0 0 0 / 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.fylkeSelectorActive {
  z-index: 10001;
  border-radius: 4px;
  box-shadow: 0 0 3px 4px var(--c-bg2), 0 4px 20px rgb(0 0 0 / 0.25);
  background-color: var(--c-bg2);
  padding-inline: 1em;
  margin-inline: -1em;
}